button {
	float: left;
	width: 200px;
	border-radius: 15px;
}
/* 
button {
	display: block;
	padding: 8px;
	background-color: white;
	text-decoration: none;
	color: black;
	margin-top: 10px;
	margin-bottom: 10px;
} */
a {
	background-color: white;
	text-decoration: none;
	color: black;
	font-size: 13px;
	font-weight: 400;
}
nav {
	display: flex;
	background-color: #37b4a2;
	justify-content: space-between;
	padding-left: 10%;
	padding-right: 10%;
	margin-left: 15%;
	height: 8%;
	position: absolute;
	right: 40px;
	width: 68%;
}
.rightSide {
	position: absolute;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding: 30px;
	top: 9%;
	right: 3%;
	height: 80%;
	width: 25%;
	border: 1px solid black;
}
.box {
	width: 70%;
	height: 25%;
	border: 1px solid green;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
p {
	font-size: 18px;
	font-weight: 600;
}
