* {
	padding: 0px;
	margin: 0px;
}

.container {
	height: 300px;
	width: 300px;
	/* border: 1px solid black; */
	display: flex;
	margin-top: 10%;
	margin-left: 5%;
	flex-direction: column;
}
.loginForm {
	display: flex;
	justify-content: center;
	align-items: center;
	/* border: 1px solid black; */
	display: flex;
	flex-direction: column;
	width: 100%;
}
