.trade-btn {
	width: 50%;
	height: 100%;
	border: 1px solid #37b4a2;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	cursor: pointer;
	transition: transform 125ms ease-in;
}

.trade-btn:hover {
	transform: scale(1.06);
}

.asset-type {
	width: 25%;
	height: 80%;
	border: 1px solid white;
	margin-left: 2%;
	border-radius: 20px;
	font-size: 17px;
	display: flex;
	align-items: center;
	justify-content: center;

	color: white;
}
.record-input {
	transition: transform 125ms ease-in;
	border: 1px solid #37b4a2;
}

.record-input:focus {
	transform: scale(1.03);
	box-shadow: 2px 0 6px 0 #37b4a2;
}

.record-btn {
	transition: transform 125ms ease-in;
	border: 1px solid #37b4a2;
}

.record-btn:hover {
	transform: scale(1.03);
	box-shadow: 2px 0 6px 0 #37b4a2;
}
